@charset "UTF-8";
:root {
  /* VARIABLES VISTAS EN AFTER CLASS/*
    /* Palette */
  --first_color: #ffe6a7;
  --second_color: #bb9457;
  --third_color: #99582a;
  --fourth_color: #432818;
  /* Font Sizes */
  --text-xxl: 4.8em;
  --text-xl: 3.6em;
  --text-lg: 3.2em;
  --text-md: 2.2em;
  --text-sm: 1.6em;
  --text-xs: 1.2em;
  /* Spacings */
  --sp-xxl: 12rem;
  --sp-xl: 8rem;
  --sp-lg: 5rem;
  --sp-md: 3.2rem;
  --sp-sm: 1.6rem;
  --sp-xs: 0.8rem; }

/* BOOTSTRAP */
dl, ol, ul {
  margin-bottom: 0; }

.container_fluid {
  position: static; }

/* CSS DEFAULT POR CADA PÁGINA */
* {
  margin: 0;
  padding: 0;
  user-select: none; }

body {
  font-family: 'Ms Madi', cursive;
  font-weight: bold;
  list-style-type: none;
  user-select: none; }

h1 {
  color: var(--fourth_color);
  font-size: 3.75em; }

h2 {
  font-size: 3em; }

.animate__animated {
  position: sticky; }

header {
  display: flex;
  flex-direction: row;
  background-color: var(--first_color);
  text-align: center;
  justify-content: center;
  align-items: center; }
  header .header__logo {
    height: 6.25rem;
    width: 6.25rem; }

nav {
  background-color: var(--second_color);
  position: sticky;
  top: 0; }
  nav .nav__menu {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 1rem; }
    nav .nav__menu .btn {
      font-size: 2em; }
      nav .nav__menu .btn a {
        color: var(--fourth_color);
        text-decoration: none; }

footer {
  display: flex;
  flex-direction: column;
  color: var(--fourth_color);
  background-color: var(--first_color);
  text-align: center;
  justify-content: center;
  width: 100%;
  bottom: 0; }
  footer strong {
    font-size: 2.5em; }
  footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  footer p {
    font-size: 1.5em;
    font-weight: normal; }
  footer .btn_social {
    font-size: 3.125em;
    padding: 0.625rem; }
    footer .btn_social a {
      text-decoration: none;
      color: var(--fourth_color); }

/* CSS HOME */
.homeMainDiv {
  background-image: url("../img/home_background_image.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  padding: 1em; }
  .homeMainDiv .presentationDiv {
    display: flex;
    flex-direction: column;
    color: var(--fourth_color);
    background-color: var(--first_color);
    border: 5px solid var(--fourth_color);
    border-radius: 25px;
    text-align: center; }
    .homeMainDiv .presentationDiv .welcomeTitle {
      font-size: 5em; }
    .homeMainDiv .presentationDiv p {
      font-size: 3em;
      font-weight: normal;
      border-top: 0.1em solid var(--fourth_color);
      border-bottom: 0.1em solid var(--fourth_color); }
    .homeMainDiv .presentationDiv strong {
      font-size: 3em; }

/* CSS NOSOTROS*/
.nosotrosMainDiv {
  display: flex;
  flex-direction: column;
  background-image: url(../img/nosotros_background_image.jpg);
  background-size: cover;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  pointer-events: none;
  padding: 2em; }
  .nosotrosMainDiv .informationAboutUs {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--fourth_color);
    background-color: var(--first_color);
    border: 5px solid var(--fourth_color);
    border-radius: 25px; }
    .nosotrosMainDiv .informationAboutUs stroke {
      font-size: 5em; }
    .nosotrosMainDiv .informationAboutUs p {
      border-top: 3px solid var(--fourth_color);
      font-size: 3em; }
  .nosotrosMainDiv .stadisticsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1.5em; }
    .nosotrosMainDiv .stadisticsDiv .stat {
      color: var(--fourth_color);
      border: 0.5em solid var(--fourth_color);
      border-radius: 25px;
      background-color: var(--first_color);
      text-align: center;
      padding: 1em;
      min-width: 10em;
      min-height: 10em;
      width: 12.5em;
      height: 12.5em; }
      .nosotrosMainDiv .stadisticsDiv .stat stroke {
        display: block;
        font-size: 2em; }
      .nosotrosMainDiv .stadisticsDiv .stat img {
        height: 4em;
        width: 4em; }
  .nosotrosMainDiv .clientOpinion {
    display: flex;
    flex-direction: column;
    color: white;
    border: 0.2em solid var(--third_color);
    border-radius: 25px;
    background-color: black;
    padding: 1em; }
    .nosotrosMainDiv .clientOpinion span {
      font-size: 2em; }
    .nosotrosMainDiv .clientOpinion .stars {
      color: yellow; }
    .nosotrosMainDiv .clientOpinion p {
      font-size: 1.5em; }

/* CSS LOCAL*/
.localMainContainer {
  background-image: url(../img/local_background_image.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  text-align: center;
  height: 100%;
  padding: 2em; }
  .localMainContainer h3 {
    font-size: 5em;
    border-bottom: 3px solid var(--fourth_color); }
  .localMainContainer li {
    font-size: 1.8em; }
  .localMainContainer .informationDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--third_color);
    border-radius: 3em;
    border: 5px solid var(--fourth_color);
    color: var(--fourth_color);
    border-top: 3px solid var(--fourth_color); }
    .localMainContainer .informationDiv iframe {
      width: 100%; }
    .localMainContainer .informationDiv p {
      font-size: 1.8em; }
  .localMainContainer .servicesDiv {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 1em;
    color: var(--fourth_color);
    text-align: center;
    border-radius: 3em;
    background-color: var(--third_color);
    border: 5px solid var(--fourth_color); }
    .localMainContainer .servicesDiv .services {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }

/* CSS MENÚ*/
@media (min-width: 1146px) {
  .promociones {
    display: flex;
    flex-direction: column; } }

.menuMainDiv {
  background: #6f1d1b;
  background: linear-gradient(360deg, #6f1d1b 0%, #432818 31%, #99582a 50%, #432818 72%, #6f1d1b 79%);
  text-align: center;
  height: 100%; }
  .menuMainDiv .promociones {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .menuMainDiv .promociones .card {
      --bs-card-spacer-y: 0em;
      --bs-card-spacer-x: 0em;
      position: static;
      font-weight: bolder;
      font-size: 1.5em; }
    .menuMainDiv .promociones .promocionesCafeteria, .menuMainDiv .promociones .promocionesRestaurant {
      display: flex;
      flex-direction: column;
      margin: 2em;
      width: 100%;
      justify-content: space-around; }
      .menuMainDiv .promociones .promocionesCafeteria .tituloPromoción, .menuMainDiv .promociones .promocionesRestaurant .tituloPromoción {
        color: #fcfffc; }
      .menuMainDiv .promociones .promocionesCafeteria .promocion, .menuMainDiv .promociones .promocionesRestaurant .promocion {
        display: flex;
        flex-direction: row;
        border: 3px solid black;
        background-color: #fcfffc;
        width: 100%; }
      .menuMainDiv .promociones .promocionesCafeteria .listadoDePromociones, .menuMainDiv .promociones .promocionesRestaurant .listadoDePromociones {
        display: flex;
        flex-direction: column; }
  .menuMainDiv .downloadMenuBtnDiv {
    padding-bottom: 1em; }
    .menuMainDiv .downloadMenuBtnDiv .btn_descarga {
      font-size: 2em;
      display: flex;
      background-color: #6f1d1b;
      color: var(--first_color);
      border: 3px solid var(--first_color);
      border-radius: 1em;
      padding-bottom: 1em;
      padding-top: 1em;
      justify-content: center; }
      .menuMainDiv .downloadMenuBtnDiv .btn_descarga i {
        padding: 0em 1em 0em 1em; }

/* CSS CONTACTO*/
.contactMainDiv {
  color: var(--first_color);
  background-image: url(../img/contacto_background_image.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em; }
  .contactMainDiv label {
    font-size: 3em;
    padding-top: 1rem;
    font-weight: bold;
    user-select: none; }
  .contactMainDiv input {
    font-size: 3em;
    background-color: var(--second_color);
    border: 0.05em solid var(--first_color);
    border-radius: 1.5em; }
    .contactMainDiv input:focus {
      background-color: var(--second_color); }
  .contactMainDiv .messageSection textarea {
    font-size: 3em;
    background-color: var(--second_color);
    border: 0.05em solid var(--first_color);
    border-radius: 0.5em; }
  .contactMainDiv .sendBtn {
    color: var(--fourth_color);
    background-color: var(--second_color);
    margin-top: 0.5em; }
