/* CSS CONTACTO*/

.contactMainDiv {
    color: var(--first_color);
    background-image: url(../img/contacto_background_image.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    
    label {
        font-size: 3em;
        padding-top: 1rem;
        font-weight: bold;
        user-select: none;
    }
    
    input {
        font-size: 3em;
        background-color: var(--second_color);
        border: 0.05em solid var(--first_color);
        border-radius: 1.5em;

        &:focus {
            background-color: var(--second_color);
        }
    }
    
    .messageSection textarea {
        font-size: 3em;
        background-color: var(--second_color);
        border: 0.05em solid var(--first_color);
        border-radius: 0.5em;
    }

    .sendBtn {
        color: var(--fourth_color);
        background-color: var(--second_color);
        margin-top: 0.5em;
    }
    
}