header {
    background-color: var(--first_color);
    
    .header__h1 {
        font-size:2.5rem;
    }

    .header__logo {
        height: 6.25rem;
        width: 6.25rem;
        min-width: 5.5rem;
        min-height: 5.5rem;
    }
}
