/* CSS HOME */

.homeMainDiv {
    @include set-background-for-main-container ("../img/home_background_image.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    height: 100%;
    padding: 1em;
    
    .presentationDiv {
        @include set-display-flex(column);
        background-color: var(--first_color);
        border: 5px solid var(--fourth_color);
        color: var(--fourth_color);
        text-align: center;
        border-radius: 25px;
        padding: 1em;
        
        .welcomeTitle {
            font-size: 5em;
        }
        
        p {
            font-size: 3em;
            font-weight: normal;
            border-top: 0.1em solid var(--fourth_color);
            border-bottom: 0.1em solid var(--fourth_color);
        }
        
        strong {
            font-size: 3em;
        }
    }
}