/* CSS HOME */

.homeMainDiv {
    @include set-background-for-main-container ("../img/home_background_image.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    height: 100%;
    padding: 1em;
    
    .welcomeDiv {
        @include set-display-flex(row);
        background-color: white;
        border: 5px solid var(--fourth_color);
        color: var(--fourth_color);
        text-align: center;
        border-radius: 25px;
        padding: 1em;

        .ristrettoImageDiv {
            img {
                width: 100%;
                height: 100%;
                border: 3px solid var(--fourth_color);
                border-radius: 25px;
            }
        }
        
        .presentationDiv {
            width: 100%;
            height: 100%;
            
            .h2 {
                font-size: 3em;
            }

            p {
                font-size: 2.5em;
                font-weight: normal;
            }
        }
    }
}