/* CSS LOCAL*/
#intro {@extend .homeMainDiv; @extend .presentationDiv;}

.localMainContainer {
    @extend .homeMainDiv;
    @include set-background-for-main-container ("../img/local_background_image.jpg");
    
    strong {
        font-size: 5em;
    }
    
    .informationDiv {
        @extend .presentationDiv;
        
        iframe {
            width: 100%;
        }

        p {
            font-size: 1.8em;
            border-top: none;
        }
    }
    
    .localServicesDiv {
        @include set-display-flex(row);
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top:1.5em;

        .service-figure-local {
            color: var(--fourth_color);
            border: 0.5em solid var(--fourth_color);
            border-radius: 100px;
            background-color: var(--first_color);
            text-align: center;
            padding: 1em;
            min-width: 10em;
            min-height: 10em;
            width: 12.5em;
            height: 12.5em;

            strong {
                display: block;
                font-size:2em;
            }
    
            img {
                height: 4em;
                width: 4em;
            }
        }
    }
}