/* MEDIAS HOME PAGE */
.homeMainDiv {
    .presentationDiv {
        @media(max-width: 992px) {
            strong {
                font-size: 48px;
            }
    
            p {
                font-size: 32px;
            }
        }
        
        @media(max-width: 768px) {

            strong {
                font-size: 36px;
            }
        
            p {
                font-size: 24px;
            }
        }

        @media(max-width: 576px) {
            strong {
                font-size: 36px;
            }
    
            p {
                font-size: 20px;

            }
        }
    }
}


/* MEDIAS NOSOTROS PAGE */
.nosotrosMainDiv {
    .opinionsDiv {
        @media(max-width: 992px) {
            strong {
                font-size: 48px;
            }
    
            p {
                font-size: 32px;
            }
        }
        
        @media(max-width: 768px) {
            strong {
                font-size: 36px;
            }
        
            p {
                font-size: 24px;
            }
        }

        @media(max-width: 576px) {
            strong {
                font-size: 36px;
            }
    
            p {
                font-size: 20px;

            }
        }
    }
}