/* MEDIAS HOME PAGE */
@media(max-width: 576px) {
    .presentationDiv {
        strong {
            font-size: 16px;
        }

        p {
            font-size: 8px;
        }
    }
}

@media(max-width: 768px) {
    .presentationDiv {
        strong {
            font-size: 32px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media(max-width: 992px) {
    .presentationDiv {
        strong {
            font-size: 48px;
        }

        p {
            font-size: 32px;
        }
    }
}

/* MEDIAS NOSOTROS PAGE */
@media (max-width:576px) {
    .nosotrosMainDiv {
        font-size: 0.5em;

        .opinionsDiv {
            font-size: 2em;
        }
    }
}

@media (max-width:768px) {
    .nosotrosMainDiv {
        font-size: 0.5em;

        .opinionsDiv {
            font-size: 2em;
        }
    }
}

/* MEDIAS LOCAL PAGE */

/* MEDIAS MENU PAGE */
@media (max-width: 1300px) {
    .menuMainDiv {
        .promociones {
            @include set-display-flex(column);
        }

        img {
            width: 289.5px;
            height: 289.5px;
        }
    }
}

/* MEDIAS CONTACTO PAGE */
@media (max-width: 820px) {
    .contactMainDiv {
        padding: 0em 1em 1em 1em;
    }
}