/* CSS MENÚ*/

.menuMainDiv {
    background: rgb(255,230,167);
    background: linear-gradient(355deg, rgba(255,230,167,1) 0%, rgba(187,148,87,1) 46%, rgba(153,88,42,1) 87%);
    
    .promociones {
    
        .promocionesDisponibles {
            margin: 2em;

            .tituloPromoción {
                color: var(--fourth_color);
                font-size: 3em;
            }
            
            .listadoDePromociones {
                .promocion {
                    background-color: var(--first_color);
                    border: 5px solid var(--fourth_color);
                    padding: 0.5em;
                    max-width: 12em;
                    font-size: 2em;
    
                    &__food {
                        img {
                            height:64px;
                            width:64px;
                        }
                    }

                    strong {
                        font-size: 1em;
                    }
                }
            }


        }
    }
    
    .downloadMenuBtnDiv {
        padding: 2em;

        .btn_descarga {
            width: 50%;
            font-size: 2em;
            background-color: #6f1d1b;
            color: var(--first_color);
            border: 3px solid var(--first_color);
            text-decoration: none;
                
            i {
                padding: 0em 1em 0em 1em;
            }

        }
    }

    .gallery {
        padding: 2em;

        img {
            width: 100%;
            padding: 1em;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    }
}