/* CSS MENÚ*/

.menuMainDiv {
    background: rgb(111,29,27);
    background: linear-gradient(360deg, rgba(111,29,27,1) 0%, rgba(67,40,24,1) 31%, rgba(153,88,42,1) 50%, rgba(67,40,24,1) 72%, rgba(111,29,27,1) 79%);
    text-align: center;
    height: 100%;
    
    .promociones {
        @include set-display-flex(column);
        justify-content: center;
    
        .promocionesCafeteria {
            @include set-display-flex(column);
            margin: 2em;
            justify-content: space-evenly;

            .tituloPromoción {
                color: #fcfffc;
            }
            
            .listadoDePromociones {
                @include set-display-flex(row);
                flex-wrap: wrap;
                justify-content: space-evenly;

                .promocion {
                    @include set-display-flex(column);
                    background-color: var(--first_color);
                    border: 0.5em solid var(--fourth_color);
                    border-radius: 25px;
                    text-align: center;
                    align-items: center;
                    padding: 0.5em;
                    max-width: 12em;
                    font-size: 2em;
    
                    &__food {
                        @include set-display-flex(row);
                        flex-wrap: wrap;
                        justify-content:space-evenly;
    
                        img {
                            height:64px;
                            width:64px;
                        }
                    }
                }
            }


        }
        
        .promocionesRestaurant {
            @extend .promocionesCafeteria;
        }
    }
    
    .downloadMenuBtnDiv {
        padding: 2em;
        display:flex;
        justify-content: center;

        .btn_descarga {
            width: 50%;
            font-size: 2em;
            display: flex;
            background-color: #6f1d1b;
            color: var(--first_color);
            border: 3px solid var(--first_color);
            border-radius: 1em;
            padding-bottom: 1em;
            padding-top: 1em;
            justify-content: center;
            text-decoration: none;
                
            i {
                padding: 0em 1em 0em 1em;
            }

        }
    }

    .gallery {
        background-color: var(--first_color);
        padding: 2em;

        img {
            width: 100%;
            padding: 1em;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    }
}