/* CSS MENÚ*/

@media (min-width: 1146px) {
    .promociones {
        @include set-display-flex(column);
    }
}

.menuMainDiv {
    background: rgb(111,29,27);
    background: linear-gradient(360deg, rgba(111,29,27,1) 0%, rgba(67,40,24,1) 31%, rgba(153,88,42,1) 50%, rgba(67,40,24,1) 72%, rgba(111,29,27,1) 79%);
    text-align: center;
    height: 100%;
    
    .promociones {
        @include set-display-flex(row);
        justify-content: space-around;

        .card{
            --bs-card-spacer-y: 0em;
            --bs-card-spacer-x: 0em;
            position: static;
            font-weight: bolder;
            font-size:1.5em
        }
    
        .promocionesCafeteria {
            @include set-display-flex(column);
            margin: 2em;
            width: 100%;
            justify-content: space-around;

            .tituloPromoción {
                color: #fcfffc;
            }
            
            .promocion {
                @include set-display-flex(row);
                border: 3px solid black;
                background-color: #fcfffc;
                width: 100%;
            }

            .listadoDePromociones {
                @include set-display-flex(column);
            }
        }
        
        .promocionesRestaurant {
            @extend .promocionesCafeteria;
        }
    }
    
    .downloadMenuBtnDiv {
        padding-bottom: 1em;
        
        .btn_descarga {
            font-size: 2em;
            display: flex;
            background-color: #6f1d1b;
            color: var(--first_color);
            border: 3px solid var(--first_color);
            border-radius: 1em;
            padding-bottom: 1em;
            padding-top: 1em;
            justify-content: center;
            
            i {
                padding: 0em 1em 0em 1em
            }
        }
    }
}