/* CSS DEFAULT POR CADA PÁGINA */

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: 'Ms Madi', cursive;
    font-size: 16px;
    text-align: center;
    color: var(--fourth_color);

    strong {
        font-size: 2.5em;
    }

    ul {
        list-style-type: none;
    }
    
    p {
        font-size: 1.5em;
    }
}

/* BOOTSTRAP */

dl, ol, ul {
    margin-bottom: 0;
}

.container_fluid {
    position: static;
}

.card{
    --bs-card-spacer-y: 0em;
    --bs-card-spacer-x: 0em;
    position: static;
    font-weight: bolder;
    font-size:1.5em
}
