/* CSS NOSOTROS*/

.nosotrosMainDiv {
    @include set-display-flex(column);
    background-image: url(../img/nosotros_background_image.jpg);
    background-size: cover;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    pointer-events: none;
    padding: 2em;
    
    
    .informationAboutUs {
        @include set-display-flex(column);
        text-align: center;
        color: var(--fourth_color);
        background-color: var(--first_color);
        border: 5px solid var(--fourth_color);
        border-radius: 25px;
        
        stroke {
            font-size: 5em;
        }
        
        p {
            border-top: 3px solid var(--fourth_color);
            font-size: 3em;
        }
    }

    .stadisticsDiv {
        @include set-display-flex(row);
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top:1.5em;
    
        .stat {
            color: var(--fourth_color);
            border: 0.5em solid var(--fourth_color);
            border-radius: 25px;
            background-color: var(--first_color);
            text-align: center;
            padding: 1em;
            min-width: 10em;
            min-height: 10em;
            width: 12.5em;
            height: 12.5em;

            stroke {
                display: block;
                font-size:2em;
            }
    
            img {
                height: 4em;
                width: 4em;
            }
        }
    }

    .clientOpinion {
        @include set-display-flex(column);
        color: white;
        border: 0.2em solid var(--third_color);
        border-radius: 25px;
        background-color: black;
        padding: 1em;

        span {
            font-size: 2em;
        }

        .stars {
            color: yellow;
        }

        p {
            font-size: 1.5em;
        }
    }
}
