/* CSS NOSOTROS*/
#intro {@extend .homeMainDiv; @extend .presentationDiv;};

.nosotrosMainDiv {
    @extend .homeMainDiv;
    @include set-background-for-main-container ("../img/nosotros_background_image.jpg");
    
    .informationAboutUs {
        @extend .presentationDiv;
    }

    .nosotrosServicesDiv {
        margin-top:1.5em;
    
        .service-figure-nosotros {
            color: var(--fourth_color);
            border: 0.5em solid var(--fourth_color);
            background-color: var(--first_color);
            padding: 1em;
            min-width: 10em;
            min-height: 10em;
            width: 12.5em;
            height: 12.5em;

            strong {
                font-size:2em;
            }
    
            img {
                height: 4em;
                width: 4em;
            }
        }
    }

    .opinionsDiv {
        .row {
            margin-top: 1em;
        }
    }

    .clientOpinion {
        color: white;
        border: 0.2em solid var(--third_color);
        background-color: black;
        padding: 1em;
        min-height: 240px;

        span {
            font-size: 2em;
        }

        .stars {
            color: yellow;
        }

        p {
            font-size: 1.5em;
        }
    }
}
